@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Darker Grotesque', sans-serif; 
  font-size: 12px;
  background: #447;
  text-align: center;
  color: #114;
  z-index: 999;
}

header {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  background-color: #DDD;
}

.whos-turn p {
  font-size: 15px;
}

#sec {
  position: relative;
  text-align: center;
  margin-top: -20px;
}

.board-container {
  height: 90vh;
  width: 90vw;
  margin: auto auto;
}

#game-board-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board {
  display: flex;
  height: 500px;
  width: 500px;
  flex-flow: row wrap;
}

.game-box {
  flex-basis: 33.333%;
  height: 33.333%;
  border: 2px solid #113;
  background: #BBB;
  text-align: center;
  vertical-align: middle;
  font-size: 105px;
  font-weight: bold;
}

.game-box:hover {
  background: #ACA;
}

@media all and (max-width: 610px) {
  #game-board{
   width: 450px;
   height: 450px;
 }
 .box {
  flex-basis:33.333%;
}
}

@media all and (max-height: 610px) {
  #game-board{
   width: 400px;
   height: 400px;
 }
 .box {
  flex-basis:33.333%;
}
}

