@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Darker Grotesque', sans-serif; 
  font-size: 12px;
  background: #223;
  text-align: center;
  color: #114;
}

header {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 20px;
  background-color: #DDD;
}

.board {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.board-container {
  height: 60vh;
  width: 480px;
  background-color: #AAA;
  border: 2px solid black;
  border-radius: 4%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game-box {
  font-size: 7em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-result {
  position: relative;
  bottom: 50vh;
  margin: 10px auto;
  background-color: #ABB;
  height: 20vh;
  width: 55vw;
  border: 2px solid black;
  border-radius: 5%;
  align-text: center;
  font-size: 35px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

#replay-button {
  width: 75px;
  align-text: center;
  background-color: #797;
  border: 1px solid #113;
  font-size: 20px;
  margin: 5px auto;
}

#replay-button:hover {
  cursor: pointer;
}

